.row{
	display: flex;
}
.row1 {
	padding-left: 0px;
	display: flex;
}
.row1 .col-md-6{
	padding-left: 0px;
}
.row1 .col-md-6 .col-md-6{
	padding-right: 0px;
}
.logo{
	float: left;
	padding-left: 0px;
	margin-top: 10px;
}
.aboutus{
	color:#E2A040 ;
	font-family: "Passion One";
	margin-bottom: 30px;
	border-bottom: 4px solid #3C72A0;
	padding-right: 0px;
	width: 210px;
}
.aboutus1{
	color:#E2A040 ;
	font-family: "Passion One";
	margin-bottom: 30px;
	border-bottom: 4px solid #3C72A0;
	padding-right: 0px;
	width: 140px;
	}
	.aboutus2{
	color:#E2A040 ;
	font-family: "Passion One";
	margin-bottom: 30px;
	border-bottom: 4px solid #3C72A0;
	padding-right: 0px;
	width: 150px;
	}
.aboutus4{
	color:#E2A040 ;
	font-family: "Passion One";
	margin-bottom: 30px;
	border-bottom: 4px solid #3C72A0;
	padding-right: 0px;
	width: 220px;
	}

@media screen and (max-width: 767px) {
        .aboutus1 {
    font-size:150%;
    }
}

.beheslogo{
	float: right;
	padding-right: 100px;
}
h2.headings{
	background-color: #3C72A0;
	font-weight: bold;
	color: #E2A040;
}
.b{
	margin-top: 18px;
	font-family: "Passion One";
}

.content{
	color: white;
	font-family: 'Montserrat', sans-serif;
	display: flex;
	margin-top: 0px;
}
.container{
	background-color: black;
}
.description{
	margin-top: 0px;
	font-size: 20px;

	font-family: 'Montserrat',sans-serif;
	font-weight: bold;
	color: white;
}

a{
	text-decoration: none;
}
.fbcontact{
	display: flex;
}
div.logo1{
	padding-right: 150px;
	padding-top: 5px;
}